@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: rgb(219, 218, 218);
    text-decoration: none;
    font-family: "Montserrat", Arial, Helvetica;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color: #929088;
}
body{
    background-color: rgb(229, 229, 229);
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header{
    background-color: #1d6b8f;
}   
nav a:hover{
    background-color: #1d6b8f;
    color: #2ac2eb;
}
.book, .join{
    background-color: rgb(229, 229, 229);
    color: #2ac2eb;
    text-decoration: none;
    font-family: "Montserrat", Arial, Helvetica;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: white;
    color: #1d6b8f;
}
.msg{
    background-color: rgb(229, 229, 229);
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #1d6b8f;
    color: rgb(219, 218, 218);
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: black;
    font-family: "Lora", "Times New Roman", Georgia;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: black;
    font-family: "Montserrat", Arial, Helvetica;
}
.msg h2{
    color: black;
    font-family: "lora", "Times New Roman", Georgia;
}
.msg p{
    color: black;
    font-family: "Montserrat", Arial, Helvetica;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a{
    color: rgb(219, 218, 218);
    text-decoration: none;
}
footer a:hover{
    color: #2ac2eb;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
    font-family: "Montserrat", Arial, Helvetica;
}
footer p a:hover{
    text-decoration: underline;
}
.mountains{
    margin: 100px 0;
}
.home-grid h2{
    font-family: "Lora", "Times New Roman", Georgia;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .tips-and-tricks-card, .equipment-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #1d6b8f;
}
main section img{
    box-sizing: border-box;
}