@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #1A5E63;
    --secondary-color: #C5D86D;
    --accent1-color: #F05D23;
    --accent2-color: #F7F7F2;
    --heading-font: "Merriweather", serif;
    --paragraph-font: "Inter", sans-serif;
}
h1, h2{
    font-family: var(--heading-font);
    color: #1A5E63;
}
p{
    font-family: var(--paragraph-font);
    color:#1A5E63;
}
header, footer{
    background-color: #1A5E63;
    min-height: 200px;
}
.pages a{
    color: #1A5E63;
}
header a, footer a, footer p{
    color: #F7F7F2;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
nav a, .site-plan{
    font-size: 1.5em;
    font-family: var(--heading-font);
}
body{
    margin: 0 auto;
}
.logo{
    width: 150px;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
    justify-items: center;
}
.contact{
    grid-column: 1/2;
    grid-row: 1/2;
}
.facebook, .gmail{
    grid-column: 1/2;
    grid-row: 2/3;
}
.copyright{
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: var(--heading-font);
}
#logo{
    grid-column: 3/4;
    grid-row: 1/3;
}
.site-plan{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
}
.contact{
    font-size: 1.5em;
    font-family: var(--heading-font);
}
.contact-pics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.facebook, .gmail{
    width: 50px;
}
.facebook{
    margin-right: 10px;
}
.gmail{
    margin-left: 10px;
}
h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.html-example, .mission-statement{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
.css-example, .cool-pics{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
.html, .mission-statement-title{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    align-self: end;
}
.html-paragraph, .mission-statement-description{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.html-pic, .mission-statement-picture{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 90%;
    align-self: center;
    justify-self: center;
}
.css, .cool-pics-title{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    align-items: baseline;
    align-self: end;
}
.css-paragraph, .cool-pics-description{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.css-pic, .cool-pics-picture{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 90%;
    align-self: center;
    justify-self: center;
}
.pages{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
.computer-desk{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 70%;
    justify-self: center;
    align-self: center;
}
.woman-computer{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70%;
    justify-self: center;
    align-self: center;
    margin: 5% 0;
}
.myprojects{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 6;
    font-size: 3em;
    justify-self: center;
    align-self: center;
}
.myclasses{
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 6;
    font-size: 3em;
    justify-self: center;
    align-self: center;
}
.pages a{
    color:#F05D23;
    font-family: var(--heading-font);
}
a:hover{
    color: #C5D86D;
}
a{
    text-decoration: none;
}
.hero-img{
    width: 100vw;
    height: 400px;
    grid-area: 1/2/1/2;
    object-fit: cover;
    object-position: bottom center;
}
.myclassestitle{
    font-family: var(--heading-font);
    color: #F05D23;
    font-size: 5em;
    text-align: center;
    z-index: 6;
    grid-area: 1/2/1/2;
    align-self: center;
}
.hero-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.dog-with-glasses{
    width: 100vw;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}
.classes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}
.databases{
    grid-row: 1/2;
}
.programming{
    grid-row: 2/3;
}
.websites{
    grid-row: 3/4;
}
.databases, .programming, .websites{
    border:#C5D86D solid 2px;
    border-radius: 10px;
    margin: 50px 10px;
    padding: 10px 30px;
    text-align: center;
}
.classes h2{
    font-size: 2em;
    border-bottom: var(--secondary-color) solid 2px;
    padding-bottom: 20px;
}
h3{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
    .css-paragraph, .html-paragraph, .cool-pics-description, .mission-statement-description{
        font-size: 1.5em;
    }
    .css, .html, .mission-statement-title, .cool-pics-title{
        font-size: 3em;
    }
    h1{
        font-size: 4em;
    }
    .myclasses, .myprojects{
        font-size: 4em;
    }
}

@media screen and (min-width: 1000px) {
    .classes{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .databases{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .programming{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .websites{
        grid-column: 3/4;
        grid-row: 1/2;
    }
}

@media screen and (min-width: 750px) {
    .pages{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 5%;
    }
    .woman-computer, .myprojects{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .computer-desk, .myclasses{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .computer-desk, .woman-computer{
        width: 90%;
}
}